html{
    max-width: 1600px;
    background-color: #265440;
}
.dogo{
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0;
    column-gap: 0px;
}
.fred {
    width: 200px;
    column-gap: 0px;
}
nav {
    background-color: #878E99;
    line-height: 3em;
    text-align: center;
    font-size: 1.5em;
    font-family: "Abril Fatface", times , sans-serif;

  }
  nav  {
    list-style-type: none;
    display: flex;
  
  }
  nav a {
    padding:1em;
    min-width: 120px;
    min-height: 60px;
    text-decoration: none;
    padding: 10px;
  
  }
  nav a:link, nav a:visited {
    color: #493548;
  }
  nav a:hover {
    color: #493548;
    background-color: #F9EDCC;
  }
  h1{
    background-color: #F9EDCC;
    color: #265440;
    margin: 25px 25px 25px 25px;
  }
  .redfred{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%; 
    column-gap: 50px;
   
    background-color: #F9EDCC;
    color: #265440;
    margin: 25px 25px 25px 25px;
  }
  #red{
    width:50%;
    
  }
.footer{
    background-color: #878E99;
    color: #493548;
    margin: 5px 5px 5px 5px;
    display:grid;
    grid-template-columns: 25% 25% 25% 25%;
}

/* component  tabs*/
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

/* compent accordion */
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}